<%-include("../partials/header.ejs")%>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to Yelp Camp</h1>
			<p>View our hand picked camp grounds</p>
			<p class="btn btn-color btn-lg">
			<a href="/campgrounds/new">Enter camp</a>
		</p>
		</div>
	</header>
</div>

<div class="row text-center" style="display:flex ; flex-wrap:wrap">
	<% campgrounds.forEach(function(camps){ %>
	<div class="col-md-3 col-sm-6">
		<div class="thumbnail">
			<img src = "<%= camps.image %>">
			<div class="caption">
				<h4><strong><%=	camps.name %></strong></h4>	
			</div>
			<p>
				<a href="/campgrounds/<%=camps._id%>" class="btn btn-primary">More info</a> 
			</p>
		</div>
    </div>
	<% }); %>
</div>



<%-include("../partials/footer.ejs")%>